<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SelectUserData</servlet-name>
        <servlet-class>com.plcc.SelectUserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectUserData</servlet-name>
        <url-pattern>/SelectUserData</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>com.plcc.AddUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>com.plcc.EditUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DelUser</servlet-name>
        <servlet-class>com.plcc.DelUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelUser</servlet-name>
        <url-pattern>/DelUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Meterreading</servlet-name>
        <servlet-class>com.plcc.Meterreading</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Meterreading</servlet-name>
        <url-pattern>/Meterreading</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SelectMeterData</servlet-name>
        <servlet-class>com.plcc.SelectMeterData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectMeterData</servlet-name>
        <url-pattern>/SelectMeterData</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddMeter</servlet-name>
        <servlet-class>com.plcc.AddMeter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMeter</servlet-name>
        <url-pattern>/AddMeter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditMeter</servlet-name>
        <servlet-class>com.plcc.EditMeter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditMeter</servlet-name>
        <url-pattern>/EditMeter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DelMeter</servlet-name>
        <servlet-class>com.plcc.DelMeter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelMeter</servlet-name>
        <url-pattern>/DelMeter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddHub</servlet-name>
        <servlet-class>com.plcc.AddHub</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddHub</servlet-name>
        <url-pattern>/AddHub</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditHub</servlet-name>
        <servlet-class>com.plcc.EditHub</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditHub</servlet-name>
        <url-pattern>/EditHub</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DelHub</servlet-name>
        <servlet-class>com.plcc.DelHub</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelHub</servlet-name>
        <url-pattern>/DelHub</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SelectHubData</servlet-name>
        <servlet-class>com.plcc.SelectHubData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectHubData</servlet-name>
        <url-pattern>/SelectHubData</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserDetails</servlet-name>
        <servlet-class>com.plcc.UserDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDetails</servlet-name>
        <url-pattern>/UserDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HubDetails</servlet-name>
        <servlet-class>com.plcc.HubDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HubDetails</servlet-name>
        <url-pattern>/HubDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
